body{
    margin: 0;
    background-color: #E0E8FF;
    width: 100%;
    
}

h2{
    margin: 5px 0 5px 0;
    font-family: sans-serif;
}

h4{
    margin: 5px 0 5px 0; 
}

p{
    margin-top: 0;
    color: gray;
}

.container{
    position: absolute;
    left: 500px;
    top: 100px;
    /* margin:  auto; */
    width: 450px;
    height: 630px;
    /* padding: 0 0 60px 0; */
    align-items: center;
    border-radius: 10px;
    background-color: #ffff;
}

.bg-pattern{
    width: 100%;
}

.hero-img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.container-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.container-plan{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    background-color: lightgray;
    border-radius: 10px;
}

.plan-change a{
    padding-left: 18px;
    text-decoration: none;
}

/* .btn{  
    height: 50px;
    margin-top: 40px ; 
} */

.pyment-btn{
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: #ffff;
    padding: 10px 50px;
    margin-top: 40px;
    cursor: pointer;
}

.cancel-btn{
    background-color: #ffff;
    border: none;
    padding: 10px 10px;
    margin-top: 40px;
    cursor: pointer;
    color: gray;

}